<section class='create_new_post'>
  <h2>Create New Post</h2>
  <div class="back_btn_div">
    <%= link_to 'Home', root_path %>
<%= link_to 'My Page', user_path(current_user) %>
  </div>
  <div class="add_new_post">
   <%= form_with(model: @post, url: '/users/:user_id/posts' ) do |f| %>
        <%= hidden_field_tag :user_id, @user.id %>
        <%= f.text_field :title, placeholder: 'Write your post title' %>
        <%= f.text_area :text, placeholder: 'Write your post here' %>
      <%= f.submit class: 'create_post_btn' %>
    <% end %>
  </div>
</section>
