<section class = 'postDetails'>
<button> <%= link_to 'Home', root_path %> </button>
<div class='posts'>
<h3><%= @post.title %> by <%= link_to @post.author.name, user_path(@user) %></h3>
<p><%= @post.text %></p>
<p> Comments:<%= @post.comments_counter %> Likes:<%= @post.likes_counter %></p>
</div>
<div class='add_like_comnt_div'>
<% if notice %>
  <div class="notice">
    <%= notice %>
  </div>
<% end %>
<button ><%= link_to 'Add Comment', new_user_post_comment_path(user_id: @post.author, post_id: @post.id) %></button>
<%= form_with(model: @like, url: user_post_likes_path(user_id: @post.author, post_id: @post.id) ) do |f| %>
<%= f.submit "Add Like" ,class: 'add_like_btn'%>
<% end %>
</div>
<div class='Comments'>
<% @post.recent_comments.each do |comment| %>
<p> <%= link_to comment.author.name, user_path(@user)%> : <%= comment.text %></p>
<% end %>
</div>

</section>


