<section class="postDetails">
  <button><%= link_to 'Home', root_path %></button>
  <div class="posts">
    <h3><%= @post.title %> by <%= link_to @post.author.name, user_path(@post.author) %></h3>
    <p><%= @post.text %></p>
    <p class="bold_text">Comments: <%= @post.comments_counter %> Likes: <%= @post.likes_counter %></p>
  </div>
  <div class="add_like_comnt_div">
    <% if notice %>
      <div class="notice">
        <%= notice %>
      </div>
    <% end %>
    <button><%= link_to 'Add Comment', new_user_post_comment_path(user_id: @post.author, post_id: @post.id) %></button>
    <%= form_with(model: @like, url: user_post_likes_path(@post.author, @post)) do |f| %>
      <%= f.hidden_field :post_id, value: @post.id %>
      <%= f.hidden_field :author_id, value: current_user.id %>
      <%= f.submit "Add Like", class: 'add_like_btn' %>
    <% end %>
  </div>
  <%= show_few_comments %>
</section>
